/* styling the gallery section */

/* stylng the gallery content including the images and also setting an overlay on each image when it is hovered upon */
.gallery__content {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.gallery__grid img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.gallery__image-container {
  position: relative;
}

.see__more {
  cursor: pointer;
}

/* setting the gallery image overlay to hidden */
.gallery__overlay {
  visibility: hidden;
  height: 0%;
  font-size: 0;
  opacity: 0;
  height: 0%;
}

/* making the gallery overlay visible on hover of the parent container */
.gallery__image-container:hover > .gallery__overlay {
  visibility: visible;
  font-size: 1rem;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

/* setting media queries for tablets */
@media (max-width: 950px) {
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* setting media queries for mobile */
@media (max-width: 650px) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }

  .gallery__grid img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
}
