/* styling the contact section */
.contact__section {
  border-bottom: 50rem;
}

/* styling the contact content container including  socials */
.contact__content-container {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.contact__content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact__content-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}
.contact__content-left li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: 9rem;
  border-radius: 2rem;
  background-color: gray;
  padding: 1rem;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
}
.contact__content-left li:hover {
  background-color: black;
  border: 1px solid gray;
  color: white;
}
.contact__content-left li:hover > .contact__link {
  color: white;
}

.contact__link {
  text-decoration: underline;
}

/* setting media queries for tabletrs */
@media (max-width: 950px) {
  .contact__content {
    width: 100%;
  }

  .contact__content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
  }
}

/* setting media queries for mobile screens */
@media (max-width: 650px) {
  .contact__section {
    padding: 0 1rem;
  }

  .contact__content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .contact__content-left {
    width: 100%;
  }
}
